.root {
  color:#fff;
  background-image: url('../../../static/images/background.jpg');
  background-size: cover;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  transition: all 1s;
}
.element {
  font-weight: normal;
  font-size:3.5rem;
}

.interactive {
  cursor: pointer;
}