.root {
  color:#fff;
  background-image: url('images/background.jpg');
  background-size: cover;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  transition: all 1s;
}
.element {
  font-weight: normal;
  font-size:3.5rem;
}

.interactive {
  cursor: pointer;
}

@media screen and (min-resolution: 2dppx) {
  .image {
    background-image: url('images/smiley@2x.png');
    background-size: contain;
  }
}